.idea/**
.vscode/**
*/node_modules/**
.DS_Store
*.swp
**/coverage/**
.python-version
**/build/**
**/_build/**
docs/docs/reference/**
docs/site/**
docs/mkdocs.yml
providence/docs/**
providence-redux/docs/**
**/dist/**
**/src/**/*.js
**/src/**/*.d.ts
**/src/**/*.map
*.iml
*/src/core/**
providence-redux/staging/**
